* {
  text-decoration: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Signika Negative", sans-serif;
}

header {
  display: flex;
  justify-content: space-around;
  margin-top: 50px;
}

.container {
  max-width: 1500px;
  margin-left: auto;
  margin-right: auto;
}

.team-flow {
  margin-right: 30px;
}
header .log {
  margin-left: 30px;
}

.burger-menu {
  display: none;
}
.navbar-items {
  color: #35414b;
  margin: 30px;
}

.navbar-items:active {
  color: rgba(101, 101, 101, 0.377);
}

i {
  border: solid #35414b;
  border-width: 0px 2px 2px 0;
  display: inline-block;
  padding: 2px;
}

.down {
  margin-bottom: 5px;
  margin-left: 5px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.btn {
  width: 125px;
  height: 40px;
  background-color: #ece6ff;
  border: rgba(0, 0, 0, 0);
  color: #794cff;
  font-weight: 600;
  margin-left: 10px;
}

.btn:hover {
  border: 1px solid rgba(101, 101, 101, 0.377);
  transition: 0.5s;
}

.btn:active {
  color: #794cff80;
}

.section-1 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section {
  display: flex;
  margin: 50px 10px 20px 10px;
  flex-direction: row-reverse;
}

.section p {
  padding-top: 5px;
  text-align: center;
}

.one {
  margin: 0px -4px;
  color: white;
  width: 100px;
  height: 32px;
  background: #81c43b;
  border-radius: 100px;
  font-family: "Signika Negative", sans-serif;
}

.two {
  margin: 0px 0px 0px -4px;
  width: 200px;
  height: 32px;
  background: #f2f9eb;
  border-radius: 0px 100px 100px 0px;
  font-family: "Signika Negative", sans-serif;
}

.manage {
  color: #35414b;
  font-size: 64px;
  text-align: center;
  font-family: sans-serif;
}

.paragraf {
  line-height: 24px;
  letter-spacing: 0.2px;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 470px;
  text-align: center;
}

.overview {
  display: flex;
  justify-content: center;
}

.overview img {
  width: 100%;
}

.class {
  width: 70%;
  justify-content: center;
  display: flex;
}
.class input {
  padding-left: 20px;
  border: 1px solid #e1e5ea;
  width: 275px;
  height: 50px;
  border-radius: 5px 0px 0px 5px;
}

.class button {
  float: right;
  width: 155px;
  height: 50px;
  background-color: #794cff;
  border: #794cff;
  border-radius: 0px 5px 5px 0px;
  color: #ffffff;
}

.class button:hover {
  transition: 0.5s;
  background-color: #9170ff9c;
}

.class button:active {
  color: #ffffff51;
  border: 0.1px solid rgb(130, 130, 130);
  transition: 0.5s;
  border-radius: 0px 5px 5px 0px;
}

.hfour {
  text-align: center;
  margin-top: 40px;
  letter-spacing: 0.5px;
  color: #4e5a65;
  font-weight: 100;
}

.hfour span {
  letter-spacing: 0.5px;
  color: rgb(53, 53, 53);
  margin-top: 15px;
  font-weight: 600;
}

.logotip {
  margin: 30px 30px 40px 30px;
  display: flex;
  justify-content: space-around;
}

.logotip img {
  width: 50%;
  margin: 0px 65px 0px;
}

.section-2 {
  background: #fbfafe;
}

.groupall {
  height: 640px;
  display: flex;
  justify-content: space-evenly;
}

.groupall img {
  margin-top: 50px;
}

.colona {
  margin-top: 50px;
}

.hd2,
.hd3 {
  margin: 2px;
  width: 370px;
  height: 120px;
}
.hd2 {
  border-bottom: 1px solid #eaeaea;
}

.hd2 h3,
.hd3 h3 {
  color: #35414b;
  font-family: sans-serif;
  padding: 25px 10px 10px 20px;
}

.hd2 p,
.hd3 p {
  color: #4e5a65;
  letter-spacing: 0.5px;
  padding: 0px 10px 10px 20px;
}

.hd2:hover,
.hd3:hover {
  border-left: 6px solid #794cff;
  background-color: #f6f3fc;
  transition: 0.1s;
  border-radius: 0px 10px 10px 0px;
}

.name2 {
  font-family: sans-serif;
  color: #35414b;
  text-align: center;
  font-size: 40px;
  margin-top: 60px;
}

.section-3 {
  display: flex;
  justify-content: center;
}

.group img {
  width: 64px;
}

.group {
  width: 290px;
  height: 160px;
  margin: 50px 75px 20px 70px;
}

.group h4 {
  font-size: 18px;
}

.group p {
  padding-top: 10px;
}

.group-text {
  margin-top: 20px;
}

.block {
  display: flex;
  justify-content: space-around;
  margin-top: 50px;
  width: 100%;
  height: 580px;
  background-color: #fbfafe;
}

.blocktext {
  width: 500px;
  height: 200px;
}

.block h2 {
  font-family: sans-serif;
  color: #35414b;
  font-size: 40px;
  padding: 150px 10px 10px 100px;
}

.block p {
  line-height: 24px;
  margin: 15px 0px 15px 0px;
  letter-spacing: 0.5px;
  color: #4e5a65;
  padding: 10px 10px 10px 100px;
}

.block button {
  font-size: 15px;
  color: white;
  background: #796eff;
  border: 1px solid #796eff;
  border-radius: 4px;
  width: 150px;
  height: 50px;
  margin: 15px 10px 10px 100px;
}

.block button:hover {
  background-color: #796effb8;
  color: #ffffff;
  border: 1px solid #794cff;
  border-radius: 5px;
  transition: 0.2s;
}

.block button:active {
  /* background-color: #eaeaea95; */
  color: #cdcdcd;
  border: 1px solid #794cff;
  border-radius: 5px;
  transition: 0.2s;
}

.block img {
  margin-top: 100px;
  width: 50%;
  height: 405px;
}
.name3 {
  font-family: sans-serif;
  color: #35414b;
  text-align: center;
  font-size: 40px;
  margin-top: 60px;
}

.name4 {
  line-height: 24px;
  text-align: center;
  margin-top: 40px;
}

.iconall {
  margin-top: 50px;
  display: flex;
  justify-content: space-evenly;
}

.icon img {
  width: 48px;
}

.icon:hover {
  transition: 0.1s;
  border-top: 4px solid #35414b;
}

.icon {
  width: 250px;
  height: 100px;
  display: flex;
}

.ic {
  margin: 30px 10px 10px 20px;
}

.ic h5,
p {
  line-height: 24px;
  letter-spacing: 0.5px;
  font-size: 16px;
  color: #4e5a65;
}

.blicall {
  margin-top: 70px;
  display: flex;
  justify-content: center;
}

.blic {
  display: flex;
  align-items: center;
  width: 900px;
  height: 200px;
  background-color: #4000ff;
  background: #796eff;
  border-radius: 16px;
}

.blic h2 {
  font-weight: 600;
  line-height: 48px;
  font-family: sans-serif;
  letter-spacing: 0.5px;
  margin: 10px 84px 10px 65px;
  color: white;
  font-size: 27px;
}

.blic img {
  width: 180px;
  height: 50px;
}

footer {
  margin-top: 70px;
  width: 100%;
  height: 375px;
  background-color: #1d2830;
}

.stolb ul {
  margin-top: 60px;
  list-style-type: none;
}

.container-2 {
  max-width: 1500px;
  margin-left: auto;
  margin-right: auto;
}

.stolb {
  width: 100%;
  height: 300px;
  display: flex;
  justify-content: space-evenly;
}

.stolb li {
  letter-spacing: 0.5px;
  color: #ffff;
  margin: 15px 10px 10px 10px;
}

.stolb img {
  margin: 0px 0px 10px 0px;
}

.st {
  width: 100%;
  border: 0.1px solid #fcfcfc0d;
}

.lg {
  margin-top: 25px;
  display: flex;
  justify-content: space-between;
}

.lg p {
  color: #ffff;
  padding: 0px 0px 0px 207px;
}

.limg {
  margin: 0px 130px 0px 0px;
}

.limg img {
  padding: 0px 0px 0px 30px;
}

@media all and (max-width: 920px) {
  .container {
    display: flex;
    justify-content: center;
  }
  .navbar-items,
  .log,
  .btn {
    display: none;
  }
  .burger-menu {
    display: block;
  }
  .manage {
    font-size: 40px;
  }
  .paragraf {
    font-size: 13px;
  }
  .class input {
    font-size: 13px;
    height: 40px;
  }
  .class button {
    height: 40px;
  }
  .groupall {
    height: 1100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .name2 {
    font-size: 35px;
  }
  .section-3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .block h2 {
    font-size: 35px;
  }
  .blic {
    width: 850px;
  }
  .blic h2 {
    font-size: 25px;
  }
}
@media all and (max-width: 500px) {
  header {
    margin-top: 0;
  }
  .section {
    margin-top: 10px;
    width: 200px;
    height: 20px;
  }
  .one {
    height: 30px;
  }
  .two {
    height: 30px;
  }
  .section p {
    font-size: 12px;
  }
  .container {
    display: flex;
    justify-content: center;
  }
  .manage {
    font-size: 25px;
  }
  .paragraf {
    width: 300px;
    font-size: 10px;
  }
  .hfour {
    font-size: 10px;
  }
  .logotip {
    text-align: center;
    width: 300px;
  }
  .logotip img {
    margin: 0;
  }
  /* .section-2 {
      position: relative;
    } */
  .groupall {
    height: 840px;
  }
  .groupall img {
    width: 280px;

    /* position: absolute;
    top: 0;
    left: 10px; */
  }

  .hd2,
  .hd3 {
    width: 285px;
  }
  .hd2 h3,
  .hd3 h3 {
    font-size: 15px;
  }
  .hd2 p,
  .hd3 p {
    font-size: 12px;
  }
  .block {
    height: 400px;
    display: flex;
  }
  .block h2 {
    padding: 20px;
  }
  .block p {
    padding: 20px;
  }
  .block button {
    margin: 20px;
  }
  .block img {
    display: none;
  }
  .blic {
    display: flex;
    flex-direction: column;
    width: 250px;
    height: 120px;
  }
  .blic h2 {
    text-align: center;
    margin: auto;
    font-size: 12px;
    line-height: 11px;
  }
  .blic img {
    width: 90px;
    margin: 4px;
  }
  .name3 {
    font-size: 30px;
  }
  .name4 {
    font-size: 12px;
  }
  .iconall {
    margin-left: 10px;
    flex-direction: column;
  }
  .stolb li {
    font-size: 10px;
  }
  footer img {
    width: 100px;
  }
  .limg img {
    width: 10px;
  }
  .lg {
    display: none;
  }
  .lg p {
    font-size: 8px;
  }
}
